.product-container{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    gap:1.5rem;
    flex-wrap: wrap;
}
.product-img{
    height: 200px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    gap: 20px;
}